/* GENERAL RULES */
*{
  box-sizing: border-box;
  font-family: 'roboto';
  margin: 0;
  padding: 0;
}

/* DEBUG:  */

.red{
  background-color: red;
}

.blue{
  background-color: blue;

}

.green{
  background-color: green;
}

.pink{
  background-color: pink;
}

.grey{
  background-color: grey;
}

.yellow{
  background-color: yellow;
}

/* UTILITY */

.vanilla-list{
  list-style: none;
}

.inline-list li{
  display: inline-block;
  padding: 0;
  margin: 0;
}

.inline-list li a{
  text-decoration: none;
  color: white;
}

.block{
  display: block;
}


#main-container{
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* BEGIN TOP BAR */
#top-bar{
  width: 100%;
}

/* END TOP BAR */

/* BEGIN CONTENT */
#main-user{
  display: flex;
  width: 1600px;
  max-width: 100%;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
  margin: 6px 0;
}

#main-user .user{
  position:relative;
  flex-basis: calc(100% / 5);
  border: 2px solid black;;
}

#main-user .user.active{
  border: 2px solid yellow;
}

#main-user .user img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#main-user .user:hover:not(.active){
  border: 2px solid white;
}

#main-user .user .icon{
  position: absolute;
  left: 0;
  bottom: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0 2px 0 0;
}

/* END CONTENT */

/* BEGIN CALL TO ACTION */
#cta{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #232326;
  width: 100%;
  color: white;
  font-size: 10px;
}

#cta li{
  padding: 6px 0 10px 15px;
  text-align: center;
}

#cta i{
  font-size: 18px;
  padding-bottom: 4px;
}

#cta .left-cta{}

#cta .center-cta ul li:nth-child(3){
  padding-left: 8px;
}

#cta .center-cta ul li:nth-child(4){
  padding-right: 20px;
  padding-left: 15px;
}

#cta .right-cta a{
  text-decoration: none;
  color: red;
  padding-right: 6px;
}










/* END CALL TO ACTION */
